<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo}}</div>
  <div class="card-body">

    <form #aprendizForm="ngForm">
      <div class="form-group-row">
        <label for="nombre" class="col-form-label col-sm-2">Documento</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="aprendiz.documento" name="documento" required
            #documento="ngModel">
          <div class="alert alert-danger" *ngIf="documento.invalid && (documento.dirty || documento.touched)">
            <div *ngIf="documento.errors.required">
              Documento es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="aprendiz.nombre" name="nombre" required #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="aprendiz.apellido" name="apellido" required 
            #apellido="ngModel">
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" [(ngModel)]="aprendiz.mail" name="email" required #mail='ngModel'>
          <div class="alert alert-danger" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
            <div *ngIf="mail.errors.required">
              Email es requerido
            </div>
            <div *ngIf="mail.errors.email">
              Email debe tener un formato valido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="email" class="col-form-label col-sm-2">Telefono</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="aprendiz.telefono" name="telefono" required #telefono='ngModel'>
          <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div *ngIf="telefono.errors.required">
              Telefono es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mt-4">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!aprendiz.id else elseBlock"
            [disabled]="!aprendizForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()"
              [disabled]="!aprendizForm.form.valid">Editar</button>
          </ng-template>

        </div>
      </div>
    </form>

  </div>

</div>
