<div class="container" style="max-width: 800px;">

  <div class="text-center bg-white mt-5">
    <div class="bg-dark-gray text-dark mb-4"> <h5>{{title}}</h5></div>
    <div class="card-body">
      <h6 class="card-title text-center">
        <a>{{info}}</a>
      </h6>

      <div class="text-center">
        <div class="form-group row mt-4">
          <label for="document" class="col-sm col-form-label">Plan de mejoramiento</label>
          <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" value=" ver " />
          </div>
        </div>

        <div class="form-group row mt-4">
          <label for="document" class="col-sm col-form-label">Acta de comite</label>
          <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" value=" ver " />
          </div>
        </div>

        <div class="form-group row mt-4">
          <label for="document" class="col-sm col-form-label">Llamado atencion</label>
          <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" value=" ver " />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
