

@media(max-width: 700px){
    .titulo-tabla{
        display: none;
    }
    .tabla-info, .tabla-info tbody, .tabla-info tr, .tabla-info td{
        display: block;
        width: 100%
    }
    .tabla-info tr{
        margin-bottom:15px
    }
    .tabla-info td{
        padding-left: 50%;
        text-align: center;
        position: relative;
        align-items: center;
    }
    .tabla-info td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        padding-top: 15px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        background-color: #1CA2A2;
    }
    
}