<detalle-user *ngIf="usuarioSelecionado" [usuario]="usuarioSelecionado"></detalle-user>

<div class="m-0 row justify-content-center align-items-center">
  <div class="col-auto">
    <div class="card mb-3 col-auto">
      <!-- style="max-width: 18rem;" -->
      <div class="card-header text-primary"><h5 class="card-title">Listado Usuarios</h5></div>
      <div class="card-body text-primary">

        <!-- <div class="my-3 text-left">
          <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/usuarios/formulario']">Crear
            Usuario</button>
        </div> -->

        <div *ngIf="usuarios?.length == 0" class="alert alert-info">
          No hay registros en la base de datos.
        </div>

        <table class="table table-bordered table-striped mx-auto d-block" *ngIf="usuarios?.length > 0">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Nombre Usuario</th>
              <th>editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td><button (click)="abrirModal(usuario)" class="btn btn-success">ver</button></td>
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.apellido}}</td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.nombreUsuario}}</td>
              <td><button type="button" [routerLink]="['/usuarios/formulario', usuario.id]"
                  class="btn btn-primary">Editar</button></td>
            </tr>
          </tbody>
        </table>
        <paginadorr-nav *ngIf="paginar" [paginar]="paginar"></paginadorr-nav>
      </div>
    </div>
  </div>
</div>
